name: Publish Java artifacts to Maven Central

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
    - name: Clone sub repos
      env:
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      run: |
        eval "$(ssh-agent -s)"
        git submodule init
        git submodule update
    - name: Publish with Gradle
      env:
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        GPG_PUBLIC: ${{ secrets.GPG_PUBLIC }}
        GPG_PRIVATE: ${{ secrets.GPG_PRIVATE }}
      run: ./gradlew :waldot-client:publish :waldot-api:publish :waldot-deps:publish :waldot-namespace:publish :waldot-plugin-os:publish :waldot-plugin-tinkerpop:publish -Dorg.gradle.jvmargs="-Xms512M -Xmx4G" --stacktrace
