name: WaldOT Library Test

on:
  workflow_dispatch:

jobs:
  test_api:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
    - name: Test with Gradle
      run: ./gradlew waldot-api:test -Dorg.gradle.daemon=false --info
  test_namespace:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
    - name: Test with Gradle
      run: ./gradlew waldot-namespace:test -Dorg.gradle.daemon=false --info
  test_client:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
    - name: Test with Gradle
      run: ./gradlew waldot-client:test -Dorg.gradle.daemon=false --info
  test_plugin-os:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
    - name: Test with Gradle
      run: ./gradlew waldot-plugin-os:test -Dorg.gradle.daemon=false --info
